spring-boot-generate/target/
spring-boot-generate/*.iml
spring-scaffold-cli/target/
spring-scaffold-cli/*.iml
generator-core/target/
generator-core/*.iml
templates/target/
templates/*.iml

*.iml
.idea/

