<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="${template}">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>New ${className}</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${paramClassName.id == null}">New ${className}</h1>
		<h1 th:if="${paramClassName.id != null}">Edit ${className}</h1>
		<hr />
		<form th:action="@{url_path}" th:method="@{${paramClassName.id == null} ? 'post' : 'put'}"
			th:object="${paramClassName}">
			<input type="hidden" th:field="*{id}" /> 
			
${input_parameters}
			<button type="submit" class="btn btn-success">Save</button>
			<a th:href="@{url_path}" class="btn btn-default">Back</a>
		</form>
	</div>
</body>
</html>