<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>New UserModel</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${usermodel.id == null}">New UserModel</h1>
		<h1 th:if="${usermodel.id != null}">Edit UserModel</h1>
		<hr />
		<form th:action="@{/usermodels}" th:method="@{${usermodel.id == null} ? 'post' : 'put'}"
			th:object="${usermodel}">
			<input type="hidden" th:field="*{id}" /> 
			
				<div class="form-group"> 
					<label for="name">Name</label>  
					<input id="name" name="name" type="text" class="form-control" th:field="*{name}" />  
				</div> 
				<div class="form-group"> 
					<label for="email">Email</label>  
					<input id="email" name="email" type="text" class="form-control" th:field="*{email}" />  
				</div> 
				<div class="form-group"> 
					<label for="idade">Idade</label>  
					<input id="idade" name="idade" type="text" class="form-control" th:field="*{idade}" />  
				</div> 
				<div class="form-group"> 
					<label for="dateCreated">DateCreated</label>  
					<input id="dateCreated" name="dateCreated" type="text" class="form-control" th:field="*{dateCreated}" />  
				</div> 
				<div class="form-group"> 
					<label for="admin">Admin</label>  
					<input id="admin" name="admin" type="text" class="form-control" th:field="*{admin}" />  
				</div> 

			<button type="submit" class="btn btn-success">Save</button>
			<a th:href="@{/usermodels}" class="btn btn-default">Back</a>
		</form>
	</div>
</body>
</html>