<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>
<body>

	<div layout:fragment="content">
		<h1>List User</h1>
		<hr />
		<a th:href="@{/users/new}">New User</a><br/><br/>
		
		<table class="table">
			<thead>
				<tr>
					<th>Name</th> 
					<th>Email</th> 
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listUser}">
					<td th:text="${user.name}"></td> 
					<td th:text="${user.email}"></td> 
					<td>
							<a th:href="@{/users/{id}(id = ${user.id})}">Show</a> 
					 		<a th:href="@{/users/{id}/edit(id = ${user.id})}">Edit</a> 
							<a href="#">Destroy</a> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>